@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 모바일용 메인페이지 스타일 지정 */
/* 공통 영역 */
body { /* body 태그에는 a태그가 적용이 되지 않는다.*/
font-family: 'Nanum Gothic', sans-serif;
font-size: 16px !important;/* important 는 다른 css 가 작동되어 있어도 body 폰트 크기는 16px로 고정*/
letter-spacing: -1px !important;
color: #444 !important;
word-wrap: break-word !important; /* 줄 바꿈 할 때, 단어가 분리가 되지 않고 줄바꿈이 가능함(단어단위) */
line-height: 1 !important;/* 단위(px, em 이런 거)가 없으면 배수임.*/
};
/* 정의 */
dl, ol, ul { margin-bottom: 0 !important;}
#container a:hover {color: #000 !important;} /*가상 선택자는 :이 가상 선택자, :: 가상 요소*/
a:link {color: #444;}
a:hover {color: #fff !important;}
a:visited {color: #444;}
a {text-decoration: none;}/*링크의 밑 줄이 사라짐 */

/* 공통영역 끝 */

/* 부트스트랩 영향을 받는 class  */
.clear::after {content: '';
    clear: both;/* float(태그의 위치를 지정)값을 초기화 시켜줌*/
    display: block;}/* float을 clear 시키면 block속성이 사라지는데 그때 다시 bloock 속성을 부여하는 역할*/
.txt_right {
    text-align: right !important ;
    }
    .mt20 {margin-top: 20px !important;}
    .w100p {
    width: 100% !important;
    }

/* //부트스트랩 CSS 수정 */
/* 헤더 영역 */
.on {
    background-color: #32353d;
}
header {
    height: 90px;
    text-align: center;
    z-index: 200; /* z의 순서 : 겹쳤을 때 상하관계를 나타냄 아래에 있을 수록 낮은 숫자 */
    background-color: rgba(0, 0, 0, 0.5); /*a = alpha 투명도 값을 나타냄 높을수록 진함(0~1 까지)*/
    position: absolute;
    left: 0; top: 0;
    width: 100%;
}
.box_inner {
    width: 100%; margin: auto;
}
/* // 헤더영역 끝  */

/* 로고 영역 */
.header_area h1{ /*순차 별 진행 header_area 아래의 h1을 정의*/
    float: none;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 3px 0 0; /*패딩에 세 값이 들어가있으면 순서대로 상하, 좌, 우 값을 지정함*/

}
.header_area h1 a { /*로고는 이미진데 글을 더 한 이유는 웹 접근성 떄문에 그러하다.(ex 시각장애인용 스크린리더*/
    display: inline-block; /*줄 전체 차지 x 자기 크기만 차지*/ 
    width: 150px;
    height: 80px;
    background: url(/home/img/logo-removebg-preview.png) no-repeat;/*css3는 함수를 지원합니덩*/
    background-size: 50px 60px !important;
    background-position: center center !important; /* 이미지 위치가 가로, 세로 둘다 가운데 정렬*/
    text-indent: -9999px; /*들여쓰기 : 이미지만 보이고 글자는 숨기기 위해서,*/
    overflow: hidden;
}
/* //로고 영역 끝 */
/* 상단 메뉴 영역 */
.openMOgnb {
    /* gnb : 글로벌 네비게이션 바  */
    display: block;
    position: absolute;
    left: 15px;
    width: 25px;
    height: 16px;
    top: 35px;
}
.hdd {
    text-indent: -9999px;
    position: absolute;
}
.openMOgnb span {
    box-sizing: border-box; /* 박스 크기를 테두리까지 크기로 고정 */
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 10px; /* 테두리를 라운드 처리 */
    background: #fff;
}
.openMOgnb span + span { /* 형제 결합자 +는 첫 요소 다음 요소를 가리킨다. 같은 이름일 때 씀 */
    width: 17px;
}
.openMOgnb span:last-child { /* 같은 계층에 있는 맨 마지막 요소*/
    width: 25px;
    margin-bottom: 0px;
}

.header_cont {
    float: none;
    width: 100%;
    background-color: #31353d;
    margin-top: 36px;
    /* display none */
} 
.closePop {
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
}
.closePop {
    display: block;
    width: 60px; height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/home/img/btn_closeMenu.png) no-repeat;
}
.util {padding: 20px;}
.header_cont a {color: #fff; font-size: 16px; }
.util li {float: left;}
.util li::after { /* 가상요소를 추가 */
    content: '|';
    display: inline-block;
    padding: 0 10px;
    color: #a2a2a3;
    top: -2px;
}
.util li:last-child::after {
    content: ' ';
    display: none;
}
.gnb {
    float: none;
    box-sizing: border-box;
    padding-top: 0px;
    height: auto;
    border-top: 1px solid #83868b;
}
.gnb li {
    float: left;
    width: 50%;
    text-align: left;
    height: auto;
    border-bottom: 1px solid #83868b;
}
.gnb li a {
    display: block;
    padding: 0 0 0 65px;
    height: 60px;
    line-height: 60px;
    background: url(../img/ico_gnb01.png) no-repeat 10px center; /* 뒤에 있는 10 px는 가로로 `10px 만큼 떨어지라.*/
    background-size: 49px 56px;
}
.gnb li + li a {
    background-image: url(../img/ico_gnb02.png);
}
.gnb li + li + li a {
    background-image: url(../img/ico_gnb02.png);
}
.gnb li + li + li + li a {
    background-image: url(../img/ico_gnb02.png);
}
.gnb li:nth-child(2+1n) {
    border-right: 1px solid #83868b;
}

.gnb_depth {
    display: none;
} /* { 서브(2차메뉴) */
/* // 상단 메뉴 영역 끝 */