@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 모바일용 메인페이지 스타일 지정 */
/* 공통 영역 */
body { /* body 태그에는 a태그가 적용이 되지 않는다.*/
font-family: 'Nanum Gothic', sans-serif;
font-size: 16px !important;/* important 는 다른 css 가 작동되어 있어도 body 폰트 크기는 16px로 고정*/
letter-spacing: -1px !important;
color: #444 !important;
word-wrap: break-word !important; /* 줄 바꿈 할 때, 단어가 분리가 되지 않고 줄바꿈이 가능함(단어단위) */
line-height: 1 !important;/* 단위(px, em 이런 거)가 없으면 배수임.*/
};
/* 정의 */
dl, ol, ul { margin-bottom: 0 !important;}
#container a:hover {color: #000 !important;} /*가상 선택자는 :이 가상 선택자, :: 가상 요소*/
a:link {color: #444;}
a:hover {color: #fff !important;}
a:visited {color: #444;}
a {text-decoration: none;}/*링크의 밑 줄이 사라짐 */

/* 공통영역 끝 */

/* 부트스트랩 영향을 받는 class  */
.clear::after {content: '';
    clear: both;/* float(태그의 위치를 지정)값을 초기화 시켜줌*/
    display: block;}/* float을 clear 시키면 block속성이 사라지는데 그때 다시 bloock 속성을 부여하는 역할*/
.txt_right {
    text-align: right !important ;
    }
    .mt20 {margin-top: 20px !important;}
    .w100p {
    width: 100% !important;
    }

/* //부트스트랩 CSS 수정 */
/* 헤더 영역 */
.on {
    background-color: #32353d;
}
header {
    height: 90px;
    text-align: center;
    z-index: 200; /* z의 순서 : 겹쳤을 때 상하관계를 나타냄 아래에 있을 수록 낮은 숫자 */
    background-color: rgba(0, 0, 0, 0.5); /*a = alpha 투명도 값을 나타냄 높을수록 진함(0~1 까지)*/
    position: absolute;
    left: 0; top: 0;
    width: 100%;
}
.box_inner {
    width: 100%; margin: auto;
}
/* // 헤더영역 끝  */

/* 로고 영역 */
.header_area h1{ /*순차 별 진행 header_area 아래의 h1을 정의*/
    float: none;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 3px 0 0; /*패딩에 세 값이 들어가있으면 순서대로 상하, 좌, 우 값을 지정함*/

}
.header_area h1 a { /*로고는 이미진데 글을 더 한 이유는 웹 접근성 떄문에 그러하다.(ex 시각장애인용 스크린리더*/
    display: inline-block; /*줄 전체 차지 x 자기 크기만 차지*/ 
    width: 150px;
    height: 80px;
    background: url(/home/img/logo-removebg-preview.png) no-repeat;/*css3는 함수를 지원합니덩*/
    background-size: 50px 60px !important;
    background-position: center center !important; /* 이미지 위치가 가로, 세로 둘다 가운데 정렬*/
    text-indent: -9999px; /*들여쓰기 : 이미지만 보이고 글자는 숨기기 위해서,*/
    overflow: hidden;
}
/* //로고 영역 끝 */
/* 상단 메뉴 영역 */
.openMOgnb {
    /* gnb : 글로벌 네비게이션 바  */
    display: block;
    position: absolute;
    left: 15px;
    width: 25px;
    height: 16px;
    top: 35px;
}
.hdd {
    text-indent: -9999px;
    position: absolute;
}
.openMOgnb span {
    box-sizing: border-box; /* 박스 크기를 테두리까지 크기로 고정 */
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 10px; /* 테두리를 라운드 처리 */
    background: #fff;
}
.openMOgnb span + span { /* 형제 결합자 +는 첫 요소 다음 요소를 가리킨다. 같은 이름일 때 씀 */
    width: 17px;
}
.openMOgnb span:last-child { /* 같은 계층에 있는 맨 마지막 요소*/
    width: 25px;
    margin-bottom: 0px;
}

.header_cont {
    float: none;
    width: 100%;
    background-color: #31353d;
    margin-top: 36px;
    display: none;
} 
.closePop {
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
}
.closePop a {
    display: block;
    width: 60px; height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/home/img/btn_closeMenu.png) no-repeat;
    box-sizing: 60px;
}
.util {padding: 20px;}
.header_cont a {
    color: #fff; 
    font-size: 16px; 
}
.util li {float: left;}
.util li::after { /* 가상요소를 추가 */
    content: '|';
    display: inline-block;
    padding: 0 10px;
    color: #a2a2a3;
    font-size: 10px;
    position: relative;
    top: -2px;
}
.util li:last-child::after {
    content: ' ';
    display: none;
}
.gnb {
    float: none;
    box-sizing: border-box;
    padding-top: 0px;
    height: auto;
    border-top: 1px solid #83868b;
}
.gnb li {
	float: left;
	width: 50%;
	text-align: left;
	box-sizing: border-box;/* width 50%안쪽에 테두리 까지 포함 */
	border-bottom: 1px solid #83868b;
}
.gnb li a {
	display: block;
	padding: 0px 0px 0px 65px;
	height: 60px;
	line-height: 60px;
	background: url(../img/ico_gnb01.png) no-repeat 10px center;/* 10px 가로위치, center 세로가운데정렬 */
	background-size: 49px 56px;
}
.gnb_depth {
	/* 2차(서브)메뉴 */
	display: none;
}
.gnb li + li a { /* 1차(대메뉴) li 태그중 2번째영역 */
	background-image: url(../img/ico_gnb02.png);	
}
.gnb li + li + li a { /* 1차(대메뉴) li 태그중 3번째영역 */
	background-image: url(../img/ico_gnb02.png);	
}
.gnb li + li + li + li a { /* 1차(대메뉴) li 태그중 4번째영역 */
	background-image: url(../img/ico_gnb02.png);	
}
.gnb li:nth-child(2n+1) {
	/* 2n+1 홀수번째의 li태그를 말함 */
	border-right: 1px solid #83868b;
}/* { 서브(2차메뉴) */
/* // 상단 메뉴 영역 끝 */

/* 본문 컨테이너 영역 */
#container, footer, .hdd, .quick_area {
    text-align: center;
}
#container {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}
/* 슬라이드 영역 */

.main_rolling_pc {
    display: block;
}
.visualRoll {
    position: relative;
    width: 100%;
}
.viewImgList {
    position: relative;
    width: 100%;
}
ul.viewImgList li {
    /* 태그안에 ul.클래스명은 : ul 태그 중 class 명이 viewImgList 인 것  */
    text-align: center;
    line-height: 550px;
    height: 300px;
    background-size: cover; /* 배경 이미지의 크기를 꽉 채우는 값*/
    width: 100%;
}
.roll_content a img {
    display: none;
}
li.imglist0 {
    position: relative;
    z-index: 50;
    background: url() no-repeat;
}
li.imglist1 {
    position: absolute;
    z-index: 10;
    left: 0;top: 0;
    background: url(/home/img/main.jpg) no-repeat;
}
li.imglist2 {
    position: absolute;
    z-index: 10;
    left: 0;top: 0;
    background: url(/home/img/main.jpg) no-repeat;
}
.roll_content {
    position: static; /* 기본 포지션 */
}
.roll_content .roll_txtline {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
    line-height: 1;
    text-align: center;
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
}
.rollbtnArea {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
    z-index: 200;
}
.rollingbtn {
    width :320px;
    margin : 0 auto; /* 버튼 영역 5개 들어가고 가운데 정렬 시킴*/
    text-align: center;
}
.rollingbtn li.butt0 {
    margin-left: 10px;
}
.rollingbtn li {
    display: inline-block;
    margin-left: 5px;
}
.rollingbtn li a {
    vertical-align: top; /* 이미지하고 다른 태그를 같이사용시 다른 태그의 세로 정렬*/
}
/* // 슬라이드 영역 */
/* 갤러리 최근 게시물 영역 */
.about_area h2 {
    font-size: 20px;
    padding: 27px 0 25px;
}
.about_area h2 b {
    display: block;
    padding-top: 10px;
}
.about_box {background: #fff;}
.place_list li {
    float: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0 20px;
}
.place_list li img{
    width: 100%; /* 반응형으로 만드는 하나의 방법 크기를 ~퍼센트로 표시*/
}
.place_list li h3 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
}
.place_list li p.txt {
    padding: 10px 50px 30px;
    line-height: 1.4;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    word-break: keep-all; /*줄바꿈을 하지 않겠다는 뜻*/
    color: #666;
}
.place_list li .view { 
    padding-bottom: 10px;
    margin: 0 0 30px;
    display: inline-block;
    padding-top: 5px;
    border-top:2px solid #333;
    color: #666;}
/* // 갤러리 최근 게시물 영역 */
/* 공지사항 최근 게시물 영역 */
.app_line {display: none;} /* PC 태블릿 전용 컨텐츠*/
.appbbs_area {
    padding: 0 20px;
    text-align: left;
}
.bbs_line {
    float: none;
    width: 100%;
    padding: 20px 0 ;
    border-top: 1px solid #d6d7d8;
}
.bbs_line h3 {
    font-weight: bold;
    font-size: 19px;
}
.bbs_line .noice_recent {
    padding-top: 10px;
}
.bbs_line .noice_recent li {
    padding: 8px 0px;
}
/* // 공지사항 최근 게시물 영역 */
/* //본문 컨테이너 영역 */